---
import CategoryIcon from '@components/icons/CategoryIcon.astro';
import Base from '@layouts/Base.astro';
import { getSinglePage, getTaxonomy, taxonomyFilter } from '@utils/getAllTags';
import { deslugify } from '@utils/slug';

export async function getStaticPaths() {
  const categories = (await getTaxonomy('blog', 'categories')) ?? [];
  const projectCategories = (await getTaxonomy('project', 'categories')) ?? [];

  return [...categories, ...projectCategories].map((category) => {
    return {
      params: { category: category.slug },
    };
  });
}

const { category } = Astro.params;

const posts = await getSinglePage('blog');
const filterPostByCategory = taxonomyFilter(posts, 'categories', category);

const projects = await getSinglePage('project');
const filterProjectByCategory = taxonomyFilter(projects, 'categories', category);
---

<Base>
  <h1 class="mb-8 text-2xl font-bold capitalize md:text-3xl">Category: {deslugify(category)}</h1>
  <h2>Posts</h2>
  <ul class="mb-4 ml-4 space-y-4 text-left text-zinc-500 dark:text-zinc-400 dark:text-zinc-400">
    {
      filterPostByCategory?.map((post) => (
        <li class="flex items-center space-x-1">
          <CategoryIcon />
          <a href={`/blog/${post.slug}`} class="text-zinc-500 hover:text-zinc-800 dark:text-zinc-400">
            {post.data.title}
          </a>
        </li>
      )) ?? <p>None</p>
    }
  </ul>
  <h2>Projects</h2>
  <ul class="ml-4 space-y-4 text-left text-zinc-500 dark:text-zinc-400 dark:text-zinc-400">
    {
      filterProjectByCategory?.map((project) => (
        <div class="flex items-center space-x-1">
          <CategoryIcon />
          <a href={`/project/${project.slug}`} class="text-zinc-500 hover:text-zinc-800 dark:text-zinc-400">
            {project.data.title}
          </a>
        </div>
      )) ?? <p>None</p>
    }
  </ul>
</Base>
